name: DOCKER_BUILD

on: [push]

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set up Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          version: latest
      - name: Docker login
        run: echo ${{ secrets.DOCKER_HUB }} | docker login -u pfremm --password-stdin
      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq
      - name: Run Buildx
        run: |
          docker buildx build \
            --platform linux/arm64 \
            --output "type=image" --push \
            --tag $GITHUB_REPOSITORY:arm64 .
